In [1]:
#importing the libraries we need
import pandas as pd
import numpy  as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing the libraries we need
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score
from sklearn.metrics import classification_report,confusion_matrix
from sklearn import preprocessing

In [3]:
#loading the CSV files
train=pd.read_excel("train_exp.xlsx")
train.drop(['Unnamed: 0','PassengerId','Ticket','SibSp','Parch'],axis=1,inplace=True)

Test=pd.read_excel('text_exp.xlsx')
Test.drop(['Unnamed: 0','PassengerId'],axis=1,inplace=True)

In [4]:
train.head()

   Survived  Pclass  Sex  Age  Fare  Embarked  Title  Cabin_let  Fam_Num
0         0       3    0  0.6     0         2      0        2.4      0.4
1         1       1    1  1.8     2         1      2        1.2      0.4
2         1       3    1  1.2     0         2      1        2.4      0.0
3         1       1    1  1.8     2         2      2        1.2      0.4
4         0       3    0  1.8     0         2      0        2.4      0.0

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Survived     891 non-null int64
Pclass       891 non-null int64
Sex          891 non-null int64
Age          891 non-null float64
Fare         891 non-null int64
Embarked     891 non-null int64
Title        891 non-null int64
Cabin_let    891 non-null float64
Fam_Num      891 non-null float64
dtypes: float64(3), int64(6)
memory usage: 62.7 KB

In [6]:
#some preprocessing on the test set
Test['Title'].fillna(0,inplace=True)
Test['Fare'].fillna(Test.groupby('Pclass')['Fare'].transform('median'),inplace=True)

In [7]:
Test.head()

   Pclass  Sex  Age  Fare  Embarked  Title  Cabin_let  Fam_Num
0       3    0  1.8   0.0         0    0.0        2.4      0.0
1       3    1  2.4   0.0         2    2.0        2.4      0.4
2       2    0  3.0   0.0         0    0.0        2.4      0.0
3       3    0  1.2   0.0         2    0.0        2.4      0.0
4       3    1  0.6   0.0         2    2.0        2.4      0.8

In [8]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
Pclass       418 non-null int64
Sex          418 non-null int64
Age          418 non-null float64
Fare         418 non-null float64
Embarked     418 non-null int64
Title        418 non-null float64
Cabin_let    418 non-null float64
Fam_Num      418 non-null float64
dtypes: float64(5), int64(3)
memory usage: 26.2 KB

In [9]:
#specifing X and y
X_set = train.iloc[:,1:]
y_set = train.iloc[:,0]

X = X_set.values

#scalling the train features
scaller = preprocessing.MinMaxScaler()

X_set_scalled = scaller.fit_transform(X)
X_set_scalled=pd.DataFrame(X_set_scalled)

#scalling the test features
Test_scalled = scaller.transform(Test.values)
Test_scalled = pd.DataFrame(Test_scalled)

In [10]:
X_set_scalled.head()

     0    1    2         3    4         5         6      7
0  1.0  0.0  0.2  0.000000  1.0  0.000000  0.857143  0.125
1  0.0  1.0  0.6  0.666667  0.5  0.666667  0.428571  0.125
2  1.0  1.0  0.4  0.000000  1.0  0.333333  0.857143  0.000
3  0.0  1.0  0.6  0.666667  1.0  0.666667  0.428571  0.125
4  1.0  0.0  0.6  0.000000  1.0  0.000000  0.857143  0.000

In [11]:
Test_scalled.head()

     0    1    2    3    4         5         6      7
0  1.0  0.0  0.6  0.0  0.0  0.000000  0.857143  0.000
1  1.0  1.0  0.8  0.0  1.0  0.666667  0.857143  0.125
2  0.5  0.0  1.0  0.0  0.0  0.000000  0.857143  0.000
3  1.0  0.0  0.4  0.0  1.0  0.000000  0.857143  0.000
4  1.0  1.0  0.2  0.0  1.0  0.666667  0.857143  0.250

In [12]:
#splitting the data into train and validation data
X_train, X_val, y_train, y_val = train_test_split(X_set_scalled , y_set ,test_size=0.2,random_state=40)

In [13]:
X_train.shape

(712, 8)

In [14]:
X_val.shape

(179, 8)

In [15]:
y_train.shape

(712,)

In [16]:
#training the model

#a neural network with 5 hidden layers >>[1st : 8 units , 2nd : 8 units , 3rd : 8 units , 4th : 5 units , 5th : 3 units]
mlp = MLPClassifier(hidden_layer_sizes=(8,8,8,5,3), activation='relu', solver='adam', max_iter=900)
mlp.fit(X_train,y_train)


y_pred_train = mlp.predict(X_train)
y_pred_val  = mlp.predict(X_val)

In [17]:
print( mlp.score( X_train , y_train ) )

0.8384831460674157

In [18]:
print( mlp.score( X_val , y_val ) )

0.8044692737430168

In [19]:
#fortune telling part :D

predictions = mlp.predict(Test_scalled)

In [20]:
predictions

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

In [21]:
submitting = pd.read_excel('test.xlsx')

In [22]:
submitting.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [23]:
submitting = submitting['PassengerId']

In [24]:
submitting["Survived"] = predictions

In [25]:
submitting.to_csv('submit.csv')